{% extends "base.html" %} {% load static %} {% block css_files%} <link
rel="stylesheet" href="{% static "chalenges/chalenge.css" %}"> <link
rel="stylesheet" href="{% static "chalenges/includes/header.css" %}"> {%
endblock %} {%block page_title %} {{month_name|title}} {% comment %} here |title
is a filter which capitalizes the month_name {% endcomment %} {% endblock %}
{%block content %} {% include "chalenges/include/header.html"%} {%if text is not
None %}
<h1>This is {{month_name|title}} chalenge</h1>
{% comment %} here |title is a filter which capitalizes the month_name {%
endcomment %}
<h2>{{text}}</h2>
<!-- here above, text is the key i.e the month from the dictionary which is selected by clicking the link of month -->
{%else%}
<p class="fallback">There is no chalenge for this month</p>
{%endif%} {% endblock%}
