<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{month_name|title}}</title>   {% comment %} here |title is a filter which capitalizes the month_name    {% endcomment %}
</head>
<body>
    {%if text is not None %}
        <h1>This is {{month_name|title}} chalenge</h1>  {% comment %} here |title is a filter which capitalizes the month_name    {% endcomment %}
        <h2>{{text}} </h2>  
        <!-- here above, text is the key i.e the month from the dictionary which is selected by clicking the link of month -->
    {%else%}
        <p>There is  no chalenge for the month</p>
    {%endif%}
</body>
</html>