<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Chalenges</title>
</head>
<body>
    <ul>
        {% comment %}  creating links of all months using for tag:-
        {% for month in months %}
        <li><a href="/chalenges/{{ month}}">{{month|title}}</a></li>
        {% endfor %}
        {% endcomment %}




        {% comment %}  creating links of all months using url tag for revising syntax search on google :-
        {% endcomment %}
        {% for month in months %}
        <li><a href="{% url "month-chalenge" month %}">{{month|title}}</a></li>
        {% endfor %}
    </ul> 
</body>
</html>
