{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "chalenges/chalenges.css"%}">
{%endblock%}
    {% block page_title%}
    All Chalenges
    {% endblock %}
    {% block content %}
    {% include "chalenges/include/header.html"%}
    <ul>
        {% comment %}  creating links of all months using for tag:-
        {% for month in months %}
        <li><a href="/chalenges/{{ month}}">{{month|title}}</a></li>
        {% endfor %}
        {% endcomment %}




        {% comment %}  creating links of all months using url tag for revising syntax search on google :-
        {% endcomment %}
        {% for month in months %}
        <li><a href="{% url "month-chalenge" month %}">{{month|title}}</a></li>
        {% endfor %}
    </ul> 
    {% endblock %}